<a href="https://colab.research.google.com/github/jiseokKim05/Python-Class/blob/main/6%EC%B0%A8%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1번
str = input("How old are you")
print(str , 'years old', sep=' ')

In [ ]:
# 1-2번
x = float(input('number : '))
print(x)

In [ ]:
# 1-3번
year = input ("this year : ")
year = eval(year)
year = year + 1
print("Next year:", year)

In [ ]:
# 2번
i = 0
result = 0
while i < 5:
  print(f'{i} 번째',end=" ")
  a = input("성적 입력 : ")
  result += int(a)
  i += 1

print(f'합 : {result}')
print(f'평균 : {result / 5}')

In [ ]:
# 3번
test_list = ['one', 'two', 'three']
for i in test_list:
  print(i)

In [ ]:
# 3-2번
for i in range(1, 10):
  print(i)

In [ ]:
# 3-3번
result = 0
for a in range(1, 101):  #1 ~ 100

  result = result + a
  print(f"{a} {result}")

print(result)

In [ ]:
# 4번
result = 0
for a in range(1,101):  # 1 ~ 100
  result = result + a     # a를 더해주고
  print(f'{a} : sum = {result}')          # 그때의 a값을 출력
  if result > 100:      # result가 100이 넘었을때

      break

print(result)

In [ ]:
# 4-2번
index = 0
s = "BlockDMask"
for a in s:
  print(a,end=' ')
  if a == 'k':
    break     # 'k'를 찾았으니 for문에서 나와랏!

  index = index + 1

print(index)   # 'k'가 첫번째로 존재하는 위치 출력

In [ ]:
# 5번
student = [180, 170, 164, 199, 182, 172, 177]
for a in student:
  if a > 170:

    continue  # 키가 170보다 크면 continue

  print(a)

In [ ]:
# 5-2번
result = 0
for a in range(1,101):  #1 ~ 100
  if a % 2 == 0:        #2로 나누었을때 나머지가 1

      continue
  result = result + a

print(result)

In [ ]:
# 6번
l = ['Alice' , 'Bob' , 'Charlie']

for name in l:
    print(name)
else:
    print('!!FINISH!')

In [ ]:
# 6-2번
l = ['Alice' , 'Bob' , 'Charlie']

for name in l:
    if name == 'Bob':
        print('!!BREAK!!')
        break
    print(name)
else:
    print('!!FINISH!!')

In [ ]:
# 7번
sr = ['father', 'mother', 'brother']
cnt = 0
for s in sr:
        for c in s:
            if c == 'r':
                cnt += 1
print(cnt)

In [ ]:
# 8번
a = []

for i in range(10):
    a.append(0)

print(a)

In [ ]:
# 8-2번
a = []

for i in range(3):
    line = []
    for j in range(2):
        line.append(0)
    a.append(line)

print(a)

In [ ]:
# 7번
l = ['Alice', 'Bob', 'Charlie']

for name in l:
    print(name)

for i, name in enumerate(l):
    print(i, name)

In [ ]:
# 7-2번
for i, name in enumerate(l, 1):
    print(i, name)

for i, name in enumerate(l, 42):
    print(i, name)